# Baseline

In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier

## Загрузка данных

In [2]:
train_df = pd.read_parquet("data/train_data.pqt")
test_df = pd.read_parquet("data/test_data.pqt")

In [3]:
test_df

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,sum_cred_g_oper_3m,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster
0,200000,month_4,-0.096224,0.335496,-0.125995,-0.095578,channel_code_12,city_14,city_type_0,None,...,0.010952,0.946066,0.407762,-0.153950,0.548895,0.541020,0.031742,0.257278,0.561353,{α}
1,200000,month_5,-0.024255,-0.059806,-0.124295,-0.023381,channel_code_12,city_14,city_type_0,None,...,0.006812,0.945281,0.396267,-0.150505,0.549468,0.552131,0.237817,0.264211,0.715199,{α}
2,200000,month_6,0.045988,0.049418,-0.125995,0.047079,channel_code_12,city_14,city_type_0,None,...,0.006812,0.945281,0.396267,-0.152800,0.549468,0.541020,0.387566,0.268543,0.836079,None
3,200001,month_4,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,None,...,-0.028584,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α}
4,200001,month_5,-0.156722,-0.204920,-0.125856,-0.156258,channel_code_9,city_76,city_type_0,None,...,-0.028584,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{α}
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
290115,299998,month_5,NaN,NaN,NaN,NaN,None,None,None,None,...,-0.028584,NaN,NaN,-0.165588,NaN,NaN,-0.201123,NaN,NaN,{}
290116,299998,month_6,-0.155350,-0.203711,-0.125995,-0.155980,channel_code_9,city_25,city_type_0,index_city_code_30,...,-0.028584,0.944497,0.384773,-0.165588,0.546889,0.407687,-0.201123,0.250924,0.374540,None
290117,299999,month_4,-0.145899,-0.173298,-0.125995,-0.145402,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.097640,0.550901,0.574354,-0.101369,0.252657,0.440474,{α}
290118,299999,month_5,-0.136402,-0.163874,-0.121475,-0.135876,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.047885,0.555057,0.696576,-0.034860,0.253523,0.473441,{α}
290119,299999,month_6,-0.141660,-0.156818,-0.125894,-0.141149,channel_code_9,city_6,city_type_0,index_city_code_34,...,-0.028584,0.944497,0.384773,-0.028842,0.556919,0.796576,-0.011582,0.254101,0.495419,None

In [4]:
train_df.head(3)

,id,date,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,channel_code,city,city_type,index_city_code,...,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m,start_cluster,end_cluster
0,0,month_1,0.744845,0.705492,1.287207,0.748101,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.951166,0.568681,0.897565,0.553624,0.774354,0.936506,0.295984,0.967947,"{α, γ}",{other}
1,0,month_2,1.049605,0.831916,2.458609,1.053805,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.948812,0.499716,0.785029,0.551904,0.696576,0.990157,0.298873,0.945969,"{α, γ}",{other}
2,0,month_3,0.692653,0.740253,0.430042,0.695747,channel_code_5,city_23,city_type_0,index_city_code_39,...,0.946458,0.442244,0.877050,0.551044,0.663243,0.810065,0.294829,0.956958,"{α, γ}",{other}

In [5]:
train_df.describe()

,id,balance_amt_avg,balance_amt_max,balance_amt_min,balance_amt_day_avg,ogrn_days_end_month,ogrn_days_end_quarter,ft_registration_date,max_founderpres,min_founderpres,...,cnt_days_deb_g_oper_3m,sum_cred_g_oper_3m,cnt_cred_g_oper_3m,cnt_days_cred_g_oper_3m,sum_deb_h_oper_3m,cnt_deb_h_oper_3m,cnt_days_deb_h_oper_3m,sum_cred_h_oper_3m,cnt_cred_h_oper_3m,cnt_days_cred_h_oper_3m
count,600000.000000,5.344230e+05,5.344230e+05,5.344230e+05,5.344230e+05,5.685270e+05,5.685270e+05,5.686400e+05,2.644080e+05,2.644080e+05,...,434748.000000,6.000000e+05,434748.000000,434748.000000,6.000000e+05,434748.000000,434748.000000,6.000000e+05,434748.000000,434748.000000
mean,99999.500000,5.291614e-18,-7.312532e-17,-3.959403e-17,-9.945043e-18,-6.117751e-17,1.003586e-17,-2.430370e-18,1.211971e-17,-3.759528e-17,...,0.810852,7.401487e-19,0.946172,0.410920,3.422448e-18,0.551292,0.507565,4.041212e-17,0.255424,0.456226
std,57735.075031,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000001e+00,1.000002e+00,1.000002e+00,...,0.145072,1.000001e+00,0.011519,0.080259,1.000001e+00,0.014255,0.156156,1.000001e+00,0.017320,0.136101
min,0.000000,-1.567780e-01,-2.049624e-01,-1.259950e-01,-1.563145e-01,-1.649833e+00,-1.722458e+00,-1.081749e+00,-1.149405e+00,-1.075208e+00,...,0.728507,-2.858428e-02,0.944497,0.384773,-1.655883e-01,0.546889,0.407687,-2.011323e-01,0.250924,0.374540
25%,49999.750000,-1.560927e-01,-2.042761e-01,-1.259122e-01,-1.556526e-01,-8.369370e-01,-8.706851e-01,-7.562179e-01,-7.608814e-01,-7.668686e-01,...,0.728507,-2.858399e-02,0.944497,0.384773,-1.655881e-01,0.546889,0.407687,-2.011227e-01,0.250924,0.374540
50%,99999.500000,-1.499485e-01,-1.903097e-01,-1.248704e-01,-1.495861e-01,-2.404093e-02,-1.891231e-02,-3.151202e-01,-2.764884e-01,-2.965527e-01,...,0.750485,-2.858399e-02,0.944497,0.384773,-1.655881e-01,0.547176,0.429909,-2.011227e-01,0.251501,0.396518
75%,149999.250000,-1.033781e-01,-1.063255e-01,-1.124800e-01,-1.033203e-01,7.888552e-01,8.715774e-01,4.040237e-01,4.519933e-01,4.554324e-01,...,0.816419,-2.858399e-02,0.944889,0.396267,-1.436181e-01,0.549755,0.541020,-1.384441e-01,0.254101,0.473441
max,199999.000000,1.542407e+02,1.174957e+02,9.145077e+01,1.547193e+02,1.834007e+00,1.800784e+00,3.032875e+00,3.376642e+00,3.592823e+00,...,1.728507,3.659603e+02,1.944497,1.384773,2.474600e+02,1.546889,1.407687,1.075818e+02,1.250924,1.374540

#### target class - "end_cluster" (df[-1])

Обозначение категориальных признаков

In [6]:
cat_cols = [
    "channel_code", "city", "city_type",
    "okved", "segment", "start_cluster",
    "index_city_code", "ogrn_month", "ogrn_year",
]

cat_cols_num = []

Удаляем все строки с nan'ами

In [7]:
for x,y in zip(test_df.columns, test_df.isna().sum()):
    print(x, "---", y)

id --- 0
date --- 0
balance_amt_avg --- 29483
balance_amt_max --- 29483
balance_amt_min --- 29483
balance_amt_day_avg --- 29483
channel_code --- 20028
city --- 60612
city_type --- 60992
index_city_code --- 156461
ogrn_days_end_month --- 14278
ogrn_days_end_quarter --- 14278
ogrn_month --- 14278
ogrn_year --- 14278
ft_registration_date --- 14838
max_founderpres --- 161192
min_founderpres --- 161192
ogrn_exist_months --- 14278
okved --- 14479
segment --- 14020
sum_of_paym_2m --- 73461
sum_of_paym_6m --- 73461
sum_of_paym_1y --- 73461
sum_a_oper_1m --- 0
cnt_a_oper_1m --- 95210
sum_b_oper_1m --- 0
cnt_b_oper_1m --- 95210
sum_c_oper_1m --- 0
cnt_c_oper_1m --- 95210
sum_deb_d_oper_1m --- 0
cnt_deb_d_oper_1m --- 95210
sum_cred_d_oper_1m --- 0
cnt_cred_d_oper_1m --- 95210
sum_deb_e_oper_1m --- 0
cnt_deb_e_oper_1m --- 95210
cnt_days_deb_e_oper_1m --- 95210
sum_cred_e_oper_1m --- 0
cnt_cred_e_oper_1m --- 95210
cnt_days_cred_e_oper_1m --- 95210
sum_deb_f_oper_1m --- 0
cnt_deb_f_oper_1m --- 95210
cnt_days_deb_f_oper_1m --- 95210
sum_cred_f_oper_1m --- 0
cnt_cred_f_oper_1m --- 95210
cnt_days_cred_f_oper_1m --- 95210
sum_deb_g_oper_1m --- 0
cnt_deb_g_oper_1m --- 95210
cnt_days_deb_g_oper_1m --- 95210
sum_cred_g_oper_1m --- 0
cnt_cred_g_oper_1m --- 95210
cnt_days_cred_g_oper_1m --- 95210
sum_deb_h_oper_1m --- 0
cnt_deb_h_oper_1m --- 95210
cnt_days_deb_h_oper_1m --- 95210
sum_cred_h_oper_1m --- 0
cnt_cred_h_oper_1m --- 95210
cnt_days_cred_h_oper_1m --- 95210
sum_a_oper_3m --- 0
cnt_a_oper_3m --- 79567
sum_b_oper_3m --- 0
cnt_b_oper_3m --- 79567
sum_c_oper_3m --- 0
cnt_c_oper_3m --- 79567
sum_deb_d_oper_3m --- 0
cnt_deb_d_oper_3m --- 79567
sum_cred_d_oper_3m --- 0
cnt_cred_d_oper_3m --- 79567
sum_deb_e_oper_3m --- 0
cnt_deb_e_oper_3m --- 79567
cnt_days_deb_e_oper_3m --- 79567
sum_cred_e_oper_3m --- 0
cnt_cred_e_oper_3m --- 79567
cnt_days_cred_e_oper_3m --- 79567
sum_deb_f_oper_3m --- 0
cnt_deb_f_oper_3m --- 79567
cnt_days_deb_f_oper_3m --- 79567
sum_cred_f_oper_3m --- 0
cnt_cred_f_oper_3m --- 79567
cnt_days_cred_f_oper_3m --- 79567
sum_deb_g_oper_3m --- 0
cnt_deb_g_oper_3m --- 79567
cnt_days_deb_g_oper_3m --- 79567
sum_cred_g_oper_3m --- 0
cnt_cred_g_oper_3m --- 79567
cnt_days_cred_g_oper_3m --- 79567
sum_deb_h_oper_3m --- 0
cnt_deb_h_oper_3m --- 79567
cnt_days_deb_h_oper_3m --- 79567
sum_cred_h_oper_3m --- 0
cnt_cred_h_oper_3m --- 79567
cnt_days_cred_h_oper_3m --- 79567
start_cluster --- 100000

Создаем выборки для валидации и обучения

In [8]:
to_drop_cols = [
    "id", "date",
    'cnt_a_oper_1m', "cnt_b_oper_1m", 'cnt_c_oper_1m', 'cnt_deb_d_oper_1m','cnt_cred_d_oper_1m','cnt_deb_e_oper_1m','cnt_days_deb_e_oper_1m','cnt_cred_e_oper_1m','cnt_days_cred_e_oper_1m',
    'cnt_deb_f_oper_1m','cnt_days_deb_f_oper_1m','cnt_cred_f_oper_1m','cnt_days_cred_f_oper_1m','cnt_deb_g_oper_1m',
    'cnt_days_deb_g_oper_1m','cnt_cred_g_oper_1m','cnt_days_cred_g_oper_1m','cnt_deb_h_oper_1m','cnt_days_deb_h_oper_1m','cnt_cred_h_oper_1m','cnt_days_cred_h_oper_1m',
    'cnt_days_cred_h_oper_3m','cnt_cred_h_oper_3m','cnt_days_deb_h_oper_3m','cnt_deb_h_oper_3m','cnt_days_cred_g_oper_3m','cnt_cred_g_oper_3m','cnt_days_deb_g_oper_3m','cnt_deb_g_oper_3m','cnt_days_cred_f_oper_3m','cnt_cred_f_oper_3m','cnt_days_deb_f_oper_3m','cnt_deb_f_oper_3m','cnt_days_cred_e_oper_3m','cnt_cred_e_oper_3m','cnt_days_deb_e_oper_3m','cnt_deb_e_oper_3m','cnt_cred_d_oper_3m','cnt_deb_d_oper_3m','cnt_c_oper_3m','cnt_b_oper_3m','cnt_a_oper_3m',

    'sum_of_paym_2m', 'sum_of_paym_6m', 'sum_of_paym_1y',

    'balance_amt_max','balance_amt_min','balance_amt_day_avg','index_city_code',

    'ogrn_days_end_month', 'ogrn_days_end_quarter','ogrn_month','ogrn_year','max_founderpres','min_founderpres','ogrn_exist_months'
]

In [10]:
raw_X = train_df.drop(to_drop_cols, axis=1).dropna()
y = raw_X["end_cluster"]
raw_X = raw_X.drop(['end_cluster'],axis=1)

x_train, x_val, y_train, y_val = train_test_split(raw_X, y,
                                                  test_size=0.2,
                                                  random_state=42)

In [12]:
for i, col in enumerate(cat_cols):
    for j, col1 in enumerate(x_train.columns):
        if col == col1:
            cat_cols_num.append(j)
cat_cols_num = list(set(sorted(cat_cols_num)))
cat_cols_num

[1, 2, 3, 33, 5, 6]

## Обучение модели

В качестве базовой модели возьмем LGBM обучим на всех признаках

In [13]:
for x,y in zip(x_train.columns, x_train.isna().sum()):
    print(x, "---", y)

balance_amt_avg --- 0
channel_code --- 0
city --- 0
city_type --- 0
ft_registration_date --- 0
okved --- 0
segment --- 0
sum_a_oper_1m --- 0
sum_b_oper_1m --- 0
sum_c_oper_1m --- 0
sum_deb_d_oper_1m --- 0
sum_cred_d_oper_1m --- 0
sum_deb_e_oper_1m --- 0
sum_cred_e_oper_1m --- 0
sum_deb_f_oper_1m --- 0
sum_cred_f_oper_1m --- 0
sum_deb_g_oper_1m --- 0
sum_cred_g_oper_1m --- 0
sum_deb_h_oper_1m --- 0
sum_cred_h_oper_1m --- 0
sum_a_oper_3m --- 0
sum_b_oper_3m --- 0
sum_c_oper_3m --- 0
sum_deb_d_oper_3m --- 0
sum_cred_d_oper_3m --- 0
sum_deb_e_oper_3m --- 0
sum_cred_e_oper_3m --- 0
sum_deb_f_oper_3m --- 0
sum_cred_f_oper_3m --- 0
sum_deb_g_oper_3m --- 0
sum_cred_g_oper_3m --- 0
sum_deb_h_oper_3m --- 0
sum_cred_h_oper_3m --- 0
start_cluster --- 0

In [28]:
model = CatBoostClassifier(iterations=10,
                           depth=8,
                           learning_rate=0.1,
                           loss_function='MultiClass',
                           verbose=True,
                           random_state=1337)
# train the model
model.fit(x_train, y_train,
        cat_features=cat_cols_num,
        eval_set=(x_val, y_val),
        verbose=True,
)
# make the prediction using the resulting model
# preds_class = model.predict(x_val)
preds_proba = model.predict_proba(x_val)
# print("class = ", preds_class)
print("proba = ", preds_proba)

0:	learn: 2.0175572	test: 2.0163720	best: 2.0163720 (0)	total: 5.75s	remaining: 51.7s
1:	learn: 1.7682059	test: 1.7658605	best: 1.7658605 (1)	total: 11.9s	remaining: 47.6s
2:	learn: 1.6012028	test: 1.5985970	best: 1.5985970 (2)	total: 18s	remaining: 41.9s
3:	learn: 1.4798465	test: 1.4768141	best: 1.4768141 (3)	total: 24s	remaining: 36s
4:	learn: 1.3866405	test: 1.3832404	best: 1.3832404 (4)	total: 30.4s	remaining: 30.4s
5:	learn: 1.3109186	test: 1.3072999	best: 1.3072999 (5)	total: 36.7s	remaining: 24.4s
6:	learn: 1.2499649	test: 1.2462241	best: 1.2462241 (6)	total: 43.1s	remaining: 18.5s
7:	learn: 1.1977990	test: 1.1939855	best: 1.1939855 (7)	total: 49.1s	remaining: 12.3s
8:	learn: 1.1529941	test: 1.1497076	best: 1.1497076 (8)	total: 55.5s	remaining: 6.16s
9:	learn: 1.1161469	test: 1.1130282	best: 1.1130282 (9)	total: 1m 1s	remaining: 0us

bestTest = 1.11302821
bestIteration = 9

proba =  [[0.02750718 0.07155447 0.02728343 ... 0.01985085 0.59911789 0.01908969]
 [0.02963378 0.20254251 0.02131274 ... 0.01953067 0.47889284 0.01906002]
 [0.03104629 0.11214505 0.02508915 ... 0.02063678 0.55129558 0.0198012 ]
 ...
 [0.06200575 0.02816586 0.32850224 ... 0.02083714 0.28950825 0.0196243 ]
 [0.08575528 0.04270019 0.02493612 ... 0.36944432 0.14844309 0.02249167]
 [0.02933029 0.04144033 0.02968549 ... 0.01988047 0.61461213 0.01862029]]

Зададим функцию для взвешенной метрики roc auc

In [29]:
def weighted_roc_auc(y_true, y_pred, labels, weights_dict):
    unnorm_weights = np.array([weights_dict[label] for label in labels])
    weights = unnorm_weights / unnorm_weights.sum()
    classes_roc_auc = roc_auc_score(y_true, y_pred, labels=labels,
                                    multi_class="ovr", average=None)
    return sum(weights * classes_roc_auc)

In [30]:
cluster_weights = pd.read_excel("cluster_weights.xlsx").set_index("cluster")
weights_dict = cluster_weights["unnorm_weight"].to_dict()

Проверка работы модели

In [31]:
y_pred_proba = model.predict_proba(x_val)
y_pred_proba.shape

(95241, 17)

In [32]:
weighted_roc_auc(y_val, y_pred_proba, model.classes_, weights_dict)

0.8700934010200335

## Прогноз на тестовой выборке

In [33]:
test_df.pivot(index="id", columns="date", values="start_cluster").head(3)

date   month_4 month_5 month_6
id
200000     {α}     {α}     {α}
200001     {α}     {α}     {α}
200002     {α}     {α}     {α}

Для того, чтобы сделать прогноз на тестовой выборке, нужно заполнить стартовый кластер. </br>
В качестве базового подхода заполним все стартовые кластеры, самым популярным кластером.

In [34]:
test_df["start_cluster"] = train_df["start_cluster"].mode()[0]
test_df["start_cluster"] = test_df["start_cluster"].astype("category")

In [35]:
sample_submission_df = pd.read_csv("sample_submission.csv")

In [36]:
sample_submission_df.shape

(100000, 18)

In [37]:
sample_submission_df.head()

,id,{other},{},"{α, β}","{α, γ}","{α, δ}","{α, ε, η}","{α, ε, θ}","{α, ε, ψ}","{α, ε}","{α, η}","{α, θ}","{α, λ}","{α, μ}","{α, π}","{α, ψ}",{α},{λ}
0,200000,0.2,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
1,200001,0.2,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
2,200002,0.2,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
3,200003,0.2,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05
4,200004,0.2,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05,0.05

Для тестовой выборки будем использовать только последний месяц

In [38]:
last_m_test_df = test_df[test_df["date"] == "month_6"]
last_m_test_df = last_m_test_df.drop(["id", "date"], axis=1)

In [39]:
test_pred_proba = model.predict_proba(last_m_test_df)
test_pred_proba_df = pd.DataFrame(test_pred_proba, columns=model.classes_)
sorted_classes = sorted(test_pred_proba_df.columns.to_list())
test_pred_proba_df = test_pred_proba_df[sorted_classes]

CatBoostError: Invalid type for cat_feature[non-default value idx=0,feature_idx=1]=0.04941811183372362 : cat_features must be integer or string, real number values and NaN values should be converted to string.

In [ ]:
test_pred_proba_df.shape

(100000, 17)

In [ ]:
test_pred_proba_df.head(2)

,{other},{},"{α, β}","{α, γ}","{α, δ}","{α, ε, η}","{α, ε, θ}","{α, ε, ψ}","{α, ε}","{α, η}","{α, θ}","{α, λ}","{α, μ}","{α, π}","{α, ψ}",{α},{λ}
0,0.018570,0.438989,0.001094,0.003762,0.000294,0.000116,1.297136e-07,0.0,0.000829,0.013894,0.001293,5.290471e-11,0.001651,0.0,0.000015,0.519494,0.0
1,0.195437,0.017019,0.043320,0.000162,0.005102,0.000003,6.688079e-05,0.0,0.017252,0.005322,0.015416,7.473112e-08,0.000532,0.0,0.000225,0.700143,0.0

In [ ]:
sample_submission_df[sorted_classes] = test_pred_proba_df
sample_submission_df.to_csv("baseline_submission.csv", index=False)